<div class="flex flex-col gap-4 h-full w-full">
  <h4 hlmH4 class="text-gray-800">Record Data</h4>
  <form [formGroup]="recordForm">
    <div hlmCard>
      <div hlmCardContent class="grid grid-cols-2 gap-4 p-8">
        <hlm-form-field class=" flex items-center">
          <label hlmLabel>
            Name
            <input class="w-80" hlmInput type="text" placeholder="Name" />
          </label>
        </hlm-form-field>
        <hlm-form-field class=" flex items-center">
          <label hlmLabel>
            Amount
            <input class="w-80" hlmInput type="number" placeholder="Amount" />
          </label>
        </hlm-form-field>
        <div>
          <hlm-form-field class="space-y-2 flex items-center">
            <hlm-select class="inline-block space-y-0" placeholder="Főcsoport" formControlName="mainGroup">
              <label hlmLabel>
                Főcsoport
              </label>
              <hlm-select-trigger class="w-80">
                <hlm-select-value />
              </hlm-select-trigger>
              <hlm-select-content>
                @for (mainGroup of balanceMainGroups; track $index) {
                  <hlm-option [value]="mainGroup[0]">{{mainGroup[1]}}</hlm-option>
                }
              </hlm-select-content>
            </hlm-select>
          </hlm-form-field>
        </div>
        @if (balanceGroups$ | async; as balanceGroups) {
          <div>
            <hlm-form-field class="space-y-2 flex items-center">
              <hlm-select class="inline-block space-y-0" placeholder="Csoport" formControlName="group">
                <label hlmLabel>
                  Csoport
                </label>
                <hlm-select-trigger class="w-80">
                  <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                  @for (group of balanceGroups; track $index) {
                    <hlm-option [value]="group[0]">{{group[1]}}</hlm-option>
                  }
                </hlm-select-content>
              </hlm-select>
            </hlm-form-field>
          </div>
        }
      </div>
      <div hlmCardFooter class="flex-row-reverse">
        <button hlmBtn variant="secondary">Confirm</button>
      </div>
    </div>
  </form>
</div>