<div class="flex h-screen">
    <!-- Bal oldali box -->
    <div class="w-1/2 flex items-center justify-center bg-gray-100">
      <div class="bg-white px-10 py-24 rounded-lg shadow-md w-96">
        <h2 class="text-2xl font-bold mb-6 text-center">Bejelentkezés</h2>
        <form [formGroup]="loginForm">
          <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>Email cím</mat-label>
            <input matInput type="email" required formControlName="email" />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>Jelszó</mat-label>
            <input matInput type="password" required formControlName="password" />
          </mat-form-field>
          
          <button hlmBtn color="tertiary" class="w-1/2 items-center" [disabled]="loginForm.invalid || isLoading" (click)="login()">
            @if (isLoading) {
              <hlm-spinner size="sm"></hlm-spinner>
            } @else {
              Belépés
            }
          </button>
          
        </form>
      </div>
    </div>

    <div class="w-1/2 flex flex-col items-end justify-end p-16 rounded-lg bg-gray-100">
        <img src="assets/malac.jpg" alt="Kép" class="w-full h-full object-cover" />
        <button hlmBtn color="secondary" [routerLink]="'/register'">Regisztráció</button>
    </div>


    </div>