<div class="h-full w-24 flex flex-col items-center gap-4 py-8">
  <div class="h-full w-24 flex flex-col items-center gap-4 py-12 bg-gray-200 rounded-r-3xl overflow-x-hidden overflow-y-auto">
    <!-- <button hlmBtn variant="ghost"
      class="h-min flex flex-col justify-center items-center text-xs text-secondary-400 hover:text-primary-400"
      routerLink="/home/dashboard" routerLinkActive="!text-primary-400" >
      <mat-icon class="!text-[32px] !h-8 !w-8">dashboard</mat-icon>
      Főképernyő
    </button> -->
    <button hlmBtn variant="ghost"
      class="h-min flex flex-col justify-center items-center text-xs text-secondary-400 hover:text-primary-400"
      routerLink="/home/advices" routerLinkActive="!text-primary-400" >
      <mat-icon class="!text-[32px] !h-8 !w-8">lightbulb_2</mat-icon>
      Tippek
    </button>
    <button hlmBtn variant="ghost"
      class="h-min flex flex-col justify-center items-center text-xs text-secondary-400 hover:text-primary-400"
      routerLink="/home/record" routerLinkActive="!text-primary-400">
      <mat-icon class="!text-[32px] !h-8 !w-8">add_circle</mat-icon>
      Adatbevitel
    </button>
    <button hlmBtn variant="ghost"
      class="h-min flex flex-col justify-center items-center text-xs text-secondary-400 hover:text-primary-400"
      routerLink="/home/statements" routerLinkActive="!text-primary-400" >
      <mat-icon class="!text-[32px] !h-8 !w-8">bar_chart</mat-icon>
      Kimutatások
    </button>
    <button hlmBtn variant="ghost"
      class="h-min flex flex-col justify-center items-center text-xs text-secondary-400 hover:text-primary-400"
      routerLink="/home/log" routerLinkActive="!text-primary-400" >
      <mat-icon class="!text-[32px] !h-8 !w-8">article</mat-icon>
      Tranzakciók
    </button>
    <button hlmBtn variant="ghost"
      class="h-min flex flex-col justify-center items-center text-xs text-secondary-400 hover:text-primary-400"
      routerLink="/home/settings" routerLinkActive="!text-primary-400">
      <mat-icon class="!text-[32px] !h-8 !w-8">settings</mat-icon>
      Beállítások
    </button>
  </div>
</div>