<div class="flex flex-col items-center gap-16 mt-16">
  <h1 class="text-5xl font-bold">Üdvözöllek az oldalon!</h1>
  <img src="assets/fooldalra.png" alt="Pénzügyi vonaldiagram" class="w-1/3 h-64 rounded-lg shadow-lg" id="kep">
  <p class="text-lg text-gray-700" id="kezdooldal_szoveg">
    Szeretnéd te is egyben látni a költségvetésedet?<br>
    Kezdő vállalkozóként még annyira nem tudod értelmezni a kimutatásokat <br> 
    és szeretnéd, hogy az MI a segítségedre legyen?<br>
    Akkor regisztrálj, lép be az oldalra és az adataid felvitele után<br> 
    kimutatásokkal, diagramokkal és a mesterséges intelligencia által<br> 
    tudsz Te és Vállalkozásod is fejlődni.
  </p>
  <button hlmBtn routerLink="login" id="gomb">Vágjunk bele</button>
</div>
